.btncarrito {
    background-color: #007bff;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* Agregar transiciones suaves */
}

.btncarrito i {
    margin-right: 10px;
}

/* Cambio al poner el cursor sobre el botón */
.btncarrito:hover {
    background-color: #0069d9;
    color: white;
}

/* Cambio al ser presionado */
.btncarrito:active {
    background-color: #0062cc;
    color: white;
}

@media (max-width: 1013px) {
    .btncarrito {
        margin-bottom: 5px;
    }
}

.btncomprar {
    background-color: #f8f9fa;
    color: #2b2b2b;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid rgba(0, 0, 0, .125);
    /* Agregar transiciones suaves */
}

.btncomprar i {
    margin-right: 10px;
}

/* Cambio al poner el cursor sobre el botón */
.btncomprar:hover {
    background-color: #e9ecef;
    color: #2b2b2b;
}

/* Cambio al ser presionado */
.btncomprar:active {
    background-color: #e9ecef;
    color: #2b2b2b;
}

.product-image-thumbs {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.product-image-thumb {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

.product-image-thumb img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}